@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --background-color-site: #faf6f6;
  --background-color-darker: #fcf4f2;
  --background-color: #ffffff;
  --border-color: #d8d3ce;
  --text-dark: #302e2d;
  --text-gray: #575252;
  --text-light: #7a7574;
  --primary: #6b53ad;
  --primary-bg-color: #f5f3fc;
  --primary-bd-color: #d0caf1;
  --highlighter: #e5dcff;
}

body[data-theme=light] {
  --background-color-site: #fffffe;
  --background-color-darker: #fcf4f2;
  --background-color: #ffffff;
  --border-color: #d8d3ce;
  --text-dark: #302e2d;
  --text-gray: #575252;
  --text-light: #7a7574;
  --primary: #50998f;
  --primary-bg-color: #f7fdfb;
  --primary-bd-color: #b3d1c2;
  --highlighter: #d5f7f2;
}

body[data-theme=dark] {
  --background-color-site: #1c1c1d;
  --background-color-darker: #18181a;
  --background-color: #2b2b31;
  --border-color: #38383a;
  --text-dark: #c2c2c2;
  --text-gray: #a0a0a0;
  --text-light: #818181;
  --primary: #7ec5bc;
  --primary-bg-color: #253b38;
  --primary-bd-color: #355b5c;
  --highlighter: #1c493b;
}
body[data-theme=dark] #search .pagefind-ui .pagefind-ui__search-input {
  border: 1px solid #484852;
}

body[data-theme=light] #sun {
  display: none;
}
body[data-theme=light] #moon {
  display: block;
}

body[data-theme=dark] .button-link {
  background-color: var(--primary-bg-color);
  color: var(--primary);
}
body[data-theme=dark] #sun {
  display: block;
  filter: invert(1);
}
body[data-theme=dark] #moon {
  display: none;
}
body[data-theme=dark] .tab-wrapper a img, body[data-theme=dark] .socials a img {
  filter: invert(1);
}
body[data-theme=dark] .search-btn img {
  filter: invert(1);
}
body[data-theme=dark] .section-title img {
  filter: invert(1);
}
body[data-theme=dark] .casual {
  color: #857ab9;
}

body, a, span, p, ul, ol, table {
  font-family: monospace;
  line-height: 1rem;
}

code span {
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 70px 0 50px;
  column-gap: 40px;
}

.series {
  width: fit-content;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
  color: #8a8a8a;
  border-radius: 4px;
  padding: 4px 9px;
  border: 1px solid var(--border-color);
}

.casual {
  color: #5b3fbd;
}

body {
  background-color: var(--background-color-site);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  top: 0;
}

body, .pagefind-ui {
  font-family: "Open Sans", sans-serif;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 1.05rem;
  line-height: 1.6rem;
  color: var(--text-gray);
}

.blog-wrapper {
  width: 900px;
  margin: 0 auto;
}

.card-page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container, footer {
  width: 100%;
}

a {
  text-decoration: none;
}

footer {
  margin: 2rem 0 0 0;
}
footer span {
  color: #797979;
  font-size: 0.8rem;
}

.avatar {
  width: auto;
  height: 80px;
  width: 80px;
  background-color: rgba(18, 18, 19, 0.1294117647);
  background-image: url("/static/images/avatar.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid var(--border-color);
  border-radius: 100vw;
}

.main-nav {
  position: fixed;
  top: 10px;
  border-top: none;
  z-index: 90;
  width: 900px;
  background-color: var(--background-color-site);
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: lowercase;
}

.header-big a {
  text-decoration: none;
}

.header-big {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 5px;
}
.header-big p {
  color: var(--text-gray);
  font-size: 0.9rem;
  line-height: 1.2rem;
  max-width: 250px;
  margin: 0.5rem 0 0 0;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.navbar__links {
  display: flex;
  flex-direction: row;
}
.navbar__links a {
  margin-right: 1rem;
  font-size: 1.05rem;
  color: var(--primary);
  transition: 0.2s;
}
.navbar__links a:hover {
  opacity: 0.5;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar__content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.user-name {
  margin: 0;
  font-size: 1.05rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__buttons button {
  cursor: pointer;
}
.navbar__buttons img {
  max-width: 17px;
  opacity: 0.7;
  cursor: pointer;
}

.divider {
  width: auto;
  margin-bottom: 1.5rem;
}

#themeBtn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 1rem;
  display: inline-block;
  color: var(--text-light);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section-title img {
  width: 18px;
  opacity: 0.5;
  margin-right: 0.5rem;
}
.section-title a {
  margin-left: 0.25rem;
  color: var(--primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin: 1rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.card p {
  font-size: 1.05rem;
  color: var(--text-gray);
  margin: 1rem 0 1.5rem;
}

.card-info-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.card-info-group .line {
  width: 20px;
  height: 1px;
  background-color: var(--border-color);
  margin-right: 1rem;
}

.card__title, .tags a {
  color: var(--text-gray);
}

.card__title {
  font-size: 1.2rem;
  margin-right: 0.8rem;
  margin-top: 1.5rem;
  font-weight: 500;
  font-family: ui-sans-serif, sans-serif;
  color: var(--primary);
}
.card__title a {
  text-decoration: none;
}

.card h2 {
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0;
}

.card h2:before {
  content: "#";
}

.card-info-group .card__date {
  font-size: 1.05rem;
  margin: 0 1rem 0 0;
  color: var(--text-light) !important;
}

.tags a::before, .tag-el::before {
  content: "#";
  margin-right: 4px;
  color: var(--text-light);
  opacity: 0.7;
}

.tags a, .tag-el {
  margin-right: 0.25rem;
  border-radius: 4px;
  font-size: 1.05rem;
  padding: 3px 9px;
  transition: all 0.2s;
  color: var(--text-gray);
  border: 1px solid var(--border-color);
  font-weight: 400;
  background-color: var(--background-color-site);
}

.tag-el {
  margin-left: 0.25rem;
}

.tags a:hover, .tag-el:hover {
  border: 1px solid var(--primary-bd-color);
  color: var(--primary);
  background-color: var(--primary-bg-color);
}

.tags a:hover::before, .tag-el:hover::before {
  color: var(--primary);
}

.card__cover {
  width: auto;
  height: auto;
  object-fit: cover;
  max-height: 900px;
  max-width: 100%;
  border-radius: 6x;
  margin: 0 0 1rem 0;
}

.post__cover {
  max-width: 100%;
  max-height: 900px;
  height: auto;
  width: auto;
  margin: 0 auto 2.5rem;
  display: block;
}

.dark-toggle img {
  max-width: 19px;
}

.pagination {
  margin: 1rem 0;
}

.post-content p img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 1.2rem auto;
  display: block;
}

.container h1 {
  margin-top: 1rem;
  display: inline-block;
}

.post-content p {
  font-size: 1.05rem;
  line-height: 1.7rem;
  color: var(--text-gray);
}

ul, ol {
  font-size: 1.05rem;
}
ul li, ol li {
  margin-bottom: 0.5rem;
}
ul li a, ol li a {
  color: var(--primary);
}
ul li:last-of-type, ol li:last-of-type {
  margin: 0;
}
ul li p a, ol li p a {
  text-decoration: none;
}

blockquote {
  border-left: 4px solid var(--border-color);
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1.05rem;
  line-height: 1.6rem;
  color: var(--text-gray);
  font-family: "Courier New", Courier, monospace;
}

.post-content h1, .post-content h2, .post-content h3,
.post-content h4, .post-content h5, .post-content h6, .now-wrapper h1, .now-wrapper h2, .now-wrapper h3,
.now-wrapper h4, .now-wrapper h5, .now-wrapper h6 {
  margin: 1.5rem 0 0.5rem;
}
.post-content mark, .now-wrapper mark {
  background-color: var(--highlighter);
  color: var(--text-dark);
}
.post-content p a, .now-wrapper p a {
  color: var(--primary);
  text-decoration: underline;
}
.post-content .contains-task-list, .now-wrapper .contains-task-list {
  list-style-type: none;
  padding: 0;
}

li a, p a {
  text-decoration: underline;
  color: var(--primary);
}

img + em {
  width: auto;
  display: block;
  font-size: 0.95rem;
  text-align: center;
}

em a {
  color: #313131;
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
  border: none;
  margin: 1.5rem 0;
}

.button-link {
  color: var(--primary);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-bd-color);
  border-radius: 4px;
  padding: 9px 14px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 500;
  margin-top: 1.5rem;
  display: block;
  width: fit-content;
}

.tag-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag-info, .serie-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0 0 0;
}
.tag-info span, .serie-info span {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  color: #5a5a5a;
}

p a {
  color: #6f38b6;
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.socials a img {
  width: 16px;
  opacity: 0.8;
}
.socials a {
  margin: 0.5rem 0.3rem 0 0;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.space-between .socials {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.toc-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 1.5rem 0;
  margin: 0 0 1.5rem;
}
.toc-wrapper span {
  font-size: 0.95rem;
  margin: 2rem 0 1rem;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.toc-wrapper ol {
  counter-reset: cupcake;
  list-style: none;
  padding: 0;
  margin: 0.8rem 0 0 0;
}
.toc-wrapper ol li {
  margin-bottom: 0.8rem;
  counter-increment: cupcake;
}
.toc-wrapper ol li a {
  color: var(--primary);
  font-size: 1.05rem;
  text-decoration: none;
}
.toc-wrapper ol li ol {
  padding: 0 0 0 1rem;
}
.toc-wrapper ol li:before {
  content: counters(cupcake, ".") ". ";
  color: var(--text-light);
}
.toc-wrapper ol li:last-of-type {
  margin: 0;
}
.toc-wrapper ol:before {
  content: "";
  counter-reset: item;
}

table, th, td {
  border: 1px solid var(--border-color);
}

table {
  border-collapse: collapse;
  font-size: 1.05rem;
  max-width: 100%;
  max-height: 300px;
  overflow: scroll;
  margin: 1rem 0;
}

th, td {
  padding: 10px;
  box-sizing: border-box;
}
th a, td a {
  color: var(--primary);
  text-decoration: underline;
}

table tr:first-child td {
  font-weight: 600;
}

.myid {
  background-color: var(--background-color-site);
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 5px;
  position: relative;
  margin-top: 1rem;
}

.myid:before {
  content: "";
  height: 100%;
  width: 4px;
  background-color: var(--primary);
  position: absolute;
  left: 10px;
  top: 0;
}

.about-span {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.about-span-bolder {
  font-weight: 600;
  margin-right: 0.5rem;
  color: var(--text-light);
}

.myid-title {
  font-size: 0.9rem;
  padding-left: 1rem;
  margin-bottom: 15px;
  font-weight: 600;
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
}
.myid-title img {
  margin-right: 0.5rem;
}

.myid-rows {
  display: flex;
  flex-direction: row;
}
.myid-rows ul {
  margin: 0 0 0 1rem;
  padding: 0;
}
.myid-rows ul li {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.myid-rows ul li::marker {
  color: var(--text-light);
}

.myid-row {
  margin: 0 1.5rem 0 1rem;
}

.about-span:last-of-type {
  margin-bottom: 0;
}

#search .pagefind-ui {
  max-width: 500px;
  margin: 0 1rem;
  max-height: 200px;
}

#search .pagefind-ui .pagefind-ui__drawer .pagefind-ui__results-area {
  max-height: 200px;
  overflow: overlay;
  border-radius: 8px;
  background-color: var(--background-color-site);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

#search .pagefind-ui .pagefind-ui__search-input, #search .pagefind-ui .pagefind-ui__search-clear {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color-site);
  color: var(--text-light);
}

#search .pagefind-ui .pagefind-ui__search-input {
  border: 1px solid var(--border-color);
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  color: var(--text-dark);
  outline: none;
  font-size: 1.05rem;
}

#search .pagefind-ui .pagefind-ui__result-link {
  font-size: 1.05rem;
  font-weight: 500;
  color: var(--primary) !important;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.8rem;
}

#search .pagefind-ui .pagefind-ui__message {
  margin: 0;
  font-size: 1.05rem;
  line-height: 1.7rem;
  color: var(--text-gray);
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

#search .pagefind-ui .pagefind-ui__result .pagefind-ui__result-excerpt {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.05rem;
  line-height: 1.7rem;
  margin-top: 1rem;
}

#search .pagefind-ui .pagefind-ui__result {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
#search .pagefind-ui .pagefind-ui__result p, #search .pagefind-ui .pagefind-ui__result .pagefind-ui__result-link {
  color: var(--text-dark);
}

#search .pagefind-ui .pagefind-ui__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  transition: all 0.2s;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-site);
  color: var(--text-light);
}

#search .pagefind-ui .pagefind-ui__button:hover {
  border-color: var(--primary-bd-color);
  color: var(--primary);
  background-color: var(--primary-bg-color);
}

#search .pagefind-ui .pagefind-ui__search-input::placeholder {
  color: var(--text-light);
  opacity: 1;
}

#search .pagefind-ui .pagefind-ui__form::before {
  background-color: var(--text-light) !important;
  opacity: 0.6;
}

#search {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  backdrop-filter: blur(5px) brightness(90%);
  top: 0;
}

.hidden {
  display: none !important;
}

.search-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

@media (max-width: 750px) {
  .blog-wrapper, .main-nav {
    width: 550px;
  }
}
@media (max-width: 550px) {
  .blog-wrapper, .main-nav {
    width: 430px;
  }
}

/*# sourceMappingURL=main.css.map */
