<div class="header-big">
  <div class="avatar"></div>
  <div class="info">
    <span class="user-name">{{ site.meta.author }}</span>
    <p>{{ site.meta.description }}</p>
    <div class="socials">
      <a href="{{ site.socials.bluesky }}"><img src="/static/images/bluesky.svg"></a>
      <a href="{{ site.socials.instagram }}"><img src="/static/images/instagram.svg"></a>
    </div>
  </div>
  {% include 'components/footer.njk' %}
</div>