<div class="header-big">
  <div class="nav-header">
    <div class="banner"></div>
  </div>
  <div class="header-big__content">
    <div class="space-between">
      <div class="sub-content-wrapper">
        <div class="avatar"></div>
        <div class="user-info">
          <span class="user-name">Luna</span>
          <span class="user-tag">@lunathecat</span>
        </div>
      </div>
      <div class="socials">
        <a href="{{ site.socials.mastodon }}"><img src="/static/images/mastodon.svg"></a>
        <a href="{{ site.socials.instagram }}"><img src="/static/images/instagram.svg"></a>
      </div>
    </div>
    <p>Sailor Moon's best cat.<br>I love fish.</p>
  </div>
</div>