---
title: About the author
layout: layouts/blog.njk
permalink: /about/
eleventyNavigation:
  key: About
  weight: 1
---

<div class="container">
  <span class="section-title"><img src="/static/images/book.svg"> About the author</span>
  <div class="about-wrapper">
    <div class="about-wrapper__content">
      <p><blockquote>"Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fear less."<br>- Maria Skłodowska-Curie</blockquote></p>
      <p>I'm a cat helping a very clumsy girl.</p>
      <hr>
      <span class="section-title">Other content</span>
      <ul>
        <li><a href="">Blog 2</a> - Here I write about food</li>
        <li><a href="">Blog 3</a> - This is just for my poetry</li>
      </ul>
    </div>
  </div>
</div>