---
title: About the author
layout: layouts/blog.njk
permalink: /about/
eleventyNavigation:
  key: About
  weight: 1
---

<div class="container">
  <span class="section-title"><img src="/static/images/book.svg"> About the author</span>
  <div class="about-wrapper">
    <div class="about-wrapper__content">
      <div class="myid">
        <span class="myid-title">blogger's id:</span>
        <div class="myid-rows">
          <div class="myid-row">
          <span class="about-span"><span class="about-span-bolder">name:</span>Aleksandra</span>
          <span class="about-span"><span class="about-span-bolder">loc:</span>The Netherlands</span>
          <span class="about-span"><span class="about-span-bolder">from:</span>Poland</span>
          <span class="about-span"><span class="about-span-bolder">tools:</span>Golang, Linux, JS</span>
          <span class="about-span"><span class="about-span-bolder">distro:</span>Fedora</span>
          </div>
          <div class="myid-row">
            <span class="about-span"><span class="about-span-bolder">my topics:</span></span>
            <ul>
              <li>programming</li>
              <li>DIY projects</li>
              <li>life</li>
            <ul>
          </div>
        </div>
      </div>
      <hr>
      <span class="section-title">Other links</span>
      <ul>
        <li><a href="">Foodie Index</a> - Recipes for busy people</li>
        <li><a href="">Notebook Repo</a> - List of my notebook topics with links</li>
      </ul>
    </div>
  </div>
</div>
