@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'variables.css';

body[data-theme="light"]{
    #sun{
        display: none;
    }
    #moon{
        display: block;
    }
}

body[data-theme="dark"]{
    .button-link{
        background-color: var(--primary-bg-color);
        color: var(--primary);
    }
    #sun{
        display: block;
        filter: invert(1);
    }
    #moon{
        display: none;
    }

    .tab-wrapper a img, .socials a img{
        filter: invert(1);
    }
    .search-btn img{
        filter: invert(1);
    }
    .section-title img{
        filter: invert(1);
    }
}

body, a, span, p, ul, ol, table{
    font-family: monospace;
}

code span{
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
}

ul{
    li::marker{
        color: var(--text-light);
    }
}

.series{
    width: fit-content;
    font-size: var(--fontmedium);
    display: flex;
    align-items: center;
    color: #8a8a8a;
    border-radius: 4px;
    padding: 4px 9px;
    border: 1px solid var(--border-color);
}

.casual{
    color: #5b3fbd;
}

body{
    background-color: var(--background-color-site);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    top: 0;
}

body, .pagefind-ui{
    font-family: 'Open Sans', sans-serif;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

h1, h2, h3, h4, h5{
    margin: 0;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.5rem 0 0.5rem;
    line-height: auto;
}

p, ul li{
    font-size: var(--fontmedium);
    line-height: 1.6rem;
    color: var(--text-gray);
}

.blog-wrapper{
    width: 900px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 40px;
}

.card-page-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container, footer{
    width: 100%;
}

a{
    text-decoration: none;
}

footer{
    margin: 2rem 0 0 0;
    span{
        color: #797979;
        font-size: 0.8rem;
    }
}

.sidebar{
    position: sticky;
    top: 20px;
    height: fit-content;
    width: 100%;
}

.avatar{
    width: auto;
    height: 80px;
    width: 80px;
    background-color: #12121321;
    background-image: url("/static/images/avatar.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid var(--border-color);
    border-radius: 100vw;
}

.main-nav{
    border-top: none;
    z-index: 90;
    width: 100%;
    background-color: var(--background-color-site);
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: lowercase;
    margin-top: 5px;
}

.header-big a{
    text-decoration: none;
}

.header-big{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 5px;
    p{
        color: var(--text-gray);
        font-size: var(--fontsmall);
        line-height: 1.2rem;
        max-width: 250px;
        margin: .5rem 0 0 0;
    }
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.navbar__links{
    display: flex;
    flex-direction: row;
    a{
        margin-right: 1rem;
        font-size: var(--fontsmall);
        color: var(--primary);
        transition: 0.2s;
    }
    a:hover{
        opacity: 0.5;
    }
}

@keyframes reveal {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.navbar__content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.user-name{
    margin: 0;
    font-size: var(--fontmedium);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    button{
        cursor: pointer;
    }
    img{
        max-width: 17px;
        opacity: 0.7;
        cursor: pointer;
    }
}

.divider{
    width: auto;
    margin-bottom: 1.5rem;
}

#themeBtn{
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.section-title{
    font-size: 1rem;
    display: inline-block;
    color: var(--text-light);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    img{
        width: 18px;
        opacity: 0.5;
        margin-right: 0.5rem;
    }
    a{
        margin-left: 0.25rem;
        color: var(--primary);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.card{
    margin: 1rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    p{
        font-size: var(--fontmedium);
        color: var(--text-gray);
        margin: 1rem 0 1.5rem;
    }
}

.card-info-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .line{
        width: 20px;
        height: 1px;
        background-color: var(--border-color);
        margin-right: 1rem;
    }
}

.card__title, .tags a{
    color: var(--text-gray);
}

.card__title{
    font-size: 1.2rem;
    margin-right: 0.8rem;
    margin-top: 1.5rem;
    font-weight: 500;
    font-family: ui-sans-serif, sans-serif;
    color: var(--primary);
    a{
        text-decoration: none;
    }
}

.card h2{
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
}

.card h2:before{
    content: "#";
}

.card-info-group .card__date{
    font-size: var(--fontsmall);
    margin: 0 1rem 0 0;
    color: var(--text-light)!important;
}

.tags a::before, .tag-el::before{
    content: "#";
    margin-right: 4px;
    color: var(--text-light);
    opacity: 0.7;
}

.tags a, .tag-el{
    margin-right: 0.25rem;
    border-radius: 4px;
    font-size: var(--fontsmall);
    padding: 3px 9px;
    transition: all 0.2s;
    color: var(--text-gray);
    border: 1px solid  var(--border-color);
    font-weight: 400;
    background-color: var(--background-color-site);
}

.tag-el{
    margin-left: 0.25rem;
}

.tags a:hover, .tag-el:hover{
    border: 1px solid var(--primary-bd-color);
    color: var(--primary);
    background-color: var(--primary-bg-color);
}

.tags a:hover::before, .tag-el:hover::before{
    color: var(--primary);
}

.card__cover{
    width: auto;
    height: auto;
    object-fit: cover;
    max-height: 900px;
    max-width: 100%;
    border-radius: 6x;
    margin: 0 0 1rem 0;
}

.post__cover{
    max-width: 100%;
    max-height: 900px;
    height: auto;
    width: auto;
    margin: 0 auto 2.5rem;
    display: block;
}

.dark-toggle img{
    max-width: 19px;
}

.pagination{
    margin: 1rem 0;
}

.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-content p img{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 1.2rem auto;
    display: block;
}

.container h1{
    margin-top: 1rem;
    display: inline-block;
}

.post-content p{
    font-size: var(--fontmedium);
    color: var(--text-gray);
}

ul, ol{
    font-size: var(--fontmedium);
    li{
        margin-bottom: 0.5rem;
        a{
            color: var(--primary);
        }
    }

    li:last-of-type{
        margin: 0;
    }
    li p a{
        text-decoration: none;
    }
}

blockquote{
    border-left: 4px solid var(--border-color);
    margin: 0;
    padding-left: 1.5rem;
    font-size: var(--fontmedium);
    line-height: 1.6rem;
    color: var(--text-gray);
    font-family: 'Courier New', Courier, monospace;
}

.post-content, .now-wrapper{
    mark{
        background-color: var(--highlighter);
        color: var(--text-dark);
    }

    p a{
        color: var(--primary);
        text-decoration: underline;
    }
    .contains-task-list{
        list-style-type: none;
        padding: 0;
    }
}

li a, p a{
    text-decoration: underline;
    color: var(--primary);
}

img + em{
    width: auto; 
    display: block;
    font-size: var(--fontsmall);
    text-align: center;
}

em a{
    color: #313131;
}

hr{
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    border: none;
    margin: 1.5rem 0;
}

.button-link{
    color: var(--primary);
    background-color: var(--primary-bg-color);
    border: 1px solid var(--primary-bd-color);
    border-radius: 4px;
    padding: 9px 14px;
    font-size: var(--fontmedium);
    text-decoration: none;
    font-weight: 500;
    margin-top: 1rem;
    display: block;
    width: fit-content;
}

.tag-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag-info, .serie-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 0 0;
    span{
        font-size: var(--fontsmall);
        margin-left: 0.3rem;
        color: #5a5a5a;
    }
}

p a{
    color: #6f38b6;
}

.socials{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    a img{
        width: 16px;
        opacity: 0.8;
    }
    a{
        margin: 1rem 0.5rem 0 0;
    }
}

.space-between{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: start;
    .socials{
        width: fit-content;
        padding: 0;
        margin: 0;
    }
}

.toc-wrapper{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 0 1.5rem 0;
    margin: 1.5rem 0;
    span{
        font-size: var(--fontmedium);
        margin: 0 0 1rem 0;
        display: block;
    }
    ol {
        counter-reset: cupcake;
	    list-style: none;
        padding: 0;
        margin: 0.5rem 0 0 0;
        li {
            counter-increment: cupcake;
            a{
                color: var(--primary);
                font-size: var(--fontmedium);
                text-decoration: none;
            }
            ol{
                padding: 0 0 0 1rem;
            }
        }
        li:before {
            content: counters(cupcake, '.') '. ';
            color: var(--text-light);
        }
        li:last-of-type{
            margin: 0;
        }
    }
    ol:before {
        content: "";
        counter-reset: item;
    }
}

table, th, td {
    border: 1px solid var(--border-color);
}

table{
    border-collapse: collapse;
    font-size: var(--fontmedium);
    max-width: 100%;
    max-height: 300px;
    overflow: scroll;
    margin: 1rem 0;
}

th,td{
    padding: 10px;
    box-sizing: border-box;
    a{
        color: var(--primary);
        text-decoration: underline;
    }
}

table tr:first-child td {
    font-weight: 600;
}

.myid{
    background-color: var(--background-color-site);
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-top: 1rem;
}

.myid:before{
    content: "";
    height: 100%;
    width: 4px;
    background-color: var(--primary);
    position: absolute;
    left: 10px;
    top: 0;
}

.about-span{
    font-size: var(--fontsmall);
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    line-height: 1rem;
}

.about-span-bolder{
    font-weight: 600;
    margin-right: 0.5rem;
    color: var(--text-light);
    font-style: italic;
}

.myid-title{
    font-size: var(--fontsmall);
    padding-left: 1rem;
    margin-bottom: 15px;
    font-weight: 600;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    img{
        margin-right: 0.5rem;
    }
}

.myid-rows{
    display: flex;
    flex-direction: row;
    ul{
        margin: 0 0 0 1rem;
        padding: 0;
        li{
            font-size: var(--fontsmall);
            margin: 0.5rem 0;
            line-height: 1rem;
        }
    }
}

.myid-row{
    margin: 0 1.5rem 0 1rem;
}

.about-span:last-of-type{
    margin-bottom: 0;
}

#search .pagefind-ui {
    max-width: 500px;
    margin: 0 1rem;
    max-height: 200px;
}

#search .pagefind-ui .pagefind-ui__drawer .pagefind-ui__results-area{
    max-height: 200px;
    overflow: overlay;
    border-radius: 8px;
    background-color: var(--background-color-site);
    border: 1px solid var(--border-color);
    padding: 0.5rem;
}

#search .pagefind-ui .pagefind-ui__search-input, #search .pagefind-ui .pagefind-ui__search-clear{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color-site);
    color: var(--text-light);
}

#search .pagefind-ui .pagefind-ui__search-input{
    border: 1px solid var(--border-color);
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-dark);
    outline: none;
    font-size: var(--fontmedium);
}

#search .pagefind-ui .pagefind-ui__result-link{
    font-size: var(--fontmedium);
    font-weight: 500;
    color: var(--primary)!important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.8rem;
}

#search .pagefind-ui .pagefind-ui__message{
    margin: 0;
    font-size: var(--fontmedium);
    line-height: 1.7rem;
    color: var(--text-gray);
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

#search .pagefind-ui .pagefind-ui__result .pagefind-ui__result-excerpt{
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--fontmedium);
    line-height: 1.7rem;
    margin-top: 1rem;
}

#search .pagefind-ui .pagefind-ui__result{
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    p, .pagefind-ui__result-link{
        color: var(--text-dark);
        font-size: var(--fontmedium);
    }
}

#search .pagefind-ui .pagefind-ui__button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: var(--fontmedium);
    transition: all 0.2s;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-site);
    color: var(--text-light);
}

#search .pagefind-ui .pagefind-ui__button:hover{
    border-color: var(--primary-bd-color);
    color: var(--primary);
    background-color: var(--primary-bg-color);
}

#search .pagefind-ui .pagefind-ui__search-input::placeholder{
    color: var(--text-light);
    opacity: 1;
}

#search .pagefind-ui .pagefind-ui__form::before{
    background-color: var(--text-light)!important;
    opacity: 0.6;
}

#search{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    backdrop-filter: blur(5px) brightness(90%);
    top: 0;
}

.hidden{
    display: none!important;
}

.search-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

@media (max-width: 850px) {
    .blog-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        box-sizing: border-box;
        margin: 50px 0;
    }
    .sidebar{
        position: static;
        margin-bottom: 2rem;
    }
}