:root{
    --background-color: #ffffff;
    --border-color: #d8d3ce;
    --text-dark: #302e2d;
    --text-gray: #575252;
    --text-light: #7a7574;
    --primary: #6b53ad;
    --primary-bg-color: #f5f3fc;
    --primary-bd-color: #d0caf1;
    --highlighter: #e5dcff;
    --font-medium: 1.05rem;
    --font-small: 1rem;
}

body[data-theme="light"]{
    --surface: #FFFFFF;
    --background-color: #FBFBFB;
    --border-color: #D3CCCB;
    --divider: #cecacd;
    --text-dark: #353434;
    --text-gray: #636363;
    --text-light: #949393;
    --primary: #763aa8;
    --primary-bg-color: #f5eefb;
    --primary-bd-color: #cea1f8;
    --mark: #d5bbeb;
    --highlighter: #F3E7F8;
}

body[data-theme="dark"]{
    --background-color: #121212;
    --surface: #201f1e;
    --border-color: #353130;
    --divider: #403d52;
    --text-dark: #D9D9D9;
    --text-gray: #b1b1b1;
    --text-light: #7C7C7C;
    --primary: #DAB4F3;
    --primary-bg-color: #1A1225;
    --primary-bd-color: #563A7D;
    --highlighter: #1A1225;
    --mark: #633c83;
}