---
layout: layouts/base.njk
---

<div class="blog-wrapper">
    <div class="sidebar">
      {% include 'components/sidebar.njk' %}
      {% include 'components/navbar.njk' %}
    </div>
    {{ content | safe }}
 </div>