---
layout: layouts/base.njk
---

<div class="blog-wrapper">
    {% include 'components/navbar.njk' %}
    <div class="main-content">
      {% include 'components/headerbig.njk' %}
      <content>
        {{ content | safe }}
      </content>
    </div>
 </div>