:root{
    --background-color-site: #faf6f6;
    --background-color-darker: #fcf4f2;
    --background-color: #ffffff;
    --border-color: #d8d3ce;
    --text-dark: #302e2d;
    --text-gray: #575252;
    --text-light: #7a7574;
    --primary: #6b53ad;
    --primary-bg-color: #f5f3fc;
    --primary-bd-color: #d0caf1;
    --highlighter: #e5dcff;
}

body[data-theme="light"]{
    --background-color-site: #fffffe;
    --background-color-darker: #fcf4f2;
    --background-color: #ffffff;
    --border-color: #d8d3ce;
    --text-dark: #302e2d;
    --text-gray: #575252;
    --text-light: #7a7574;
    --primary: #50998f;
    --primary-bg-color: #f7fdfb;
    --primary-bd-color: #b3d1c2;
    --highlighter: #d5f7f2;
}

body[data-theme="dark"]{
    --background-color-site: #1c1c1d;
    --background-color-darker: #18181a;
    --background-color: #2b2b31;
    --border-color: #38383a;
    --text-dark: #c2c2c2;
    --text-gray: #a0a0a0;
    --text-light: #818181;
    --primary: #7ec5bc;
    --primary-bg-color: #253b38;
    --primary-bd-color: #355b5c;
    --highlighter: #1c493b;
    #search .pagefind-ui .pagefind-ui__search-input{
        border: 1px solid #484852;
    }
}

$fontmedium: 1.05rem;